p {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

h1,
h2,
h3 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
}

h4 {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}

.letter-space {
  margin-left: 1%;
  letter-spacing: .1em;
  border-right: 3px solid;
  animation: typeWritter 1s infinite;
}

.full-container {
}