@keyframes mouse {
    from {
        opacity: 1;
        top: 10px;
    }

    to {
        opacity: 0;
        top: 35px;
    }
}

.typewriter {
    animation: typewriter 2s steps(20) 1s 1 normal both,
        blinkTextCursor 500ms steps(20) infinite normal;
}

@keyframes typewriter {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

@keyframes blinkTextCursor {
    from {
        border-right-color: rgba($color: $white, $alpha: 1.0);
    }

    to {
        border-right-color: transparent;
    }
}