.about {
  display: inline-block;
  margin-bottom: 2em;

  &>&__title {
    width: 100%;
    text-align: center;
    letter-spacing: 1em;
  }

  &__content {
    display: inline-block;
    text-align: center;

    @media (min-width: 460px) {
      display: flex;
      align-items: center;
    }

    &__text {
      margin: 0 1em;
      text-align: justify;
      margin-top: 1em;
      animation: fadeIn 1s ease-out forwards;
    }

    &__image {
      animation: fadeIn 1s ease-out forwards;
      animation-delay: .5s;
      opacity: 0;
    }
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes test {
  0% {
    width: 0;
  }

  100% {
    width: 100%;
  }
}
