.hero {
  position: absolute;
  display: flex;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: column;
  background-image: url('assets/images/hero_bg.jpeg');
  background-position-y: bottom;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: bottom;

  &__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba($color: #000000, $alpha: .5);
  }

  &__header,
  &__subtitle {
    width: 100%;
    z-index: 99;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;


    &:not(:last-child) {
      margin-bottom: 1em;
    }
  }

  &__subtitle {
    height: 15%;
    align-items: flex-start;
  }

  &__header {
    font-size: 2em;
    color: $white;
    align-items: center;
    height: 85%;

    &>.chat {
      display: flex;
      width: 100%;
      justify-content: center;
      align-items: center;

      &>.chat__time {
        color: $white;
        margin-right: .5em;
        font-size: .5em;
      }

      @media (min-width: 460px) {
        &>strong {
          font-size: 1.4em;
        }
      }
    }



    &>.hard-skills-list__container {
      width: 100%;
      height: 15%;
      text-align: center;
      overflow: hidden;
      display: flex;
      justify-content: center;
    }
  }
}

@keyframes typeWritter {
  0% {
    border-color: transparent;
  }

  25% {
    border-color: $orange;
  }

  75% {
    border-color: $orange;
  }

  100% {
    border-color: transparent;
  }
}
