.skills {
  display: inline-block;
  margin-bottom: 2em;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;

  &>&__title {
    width: 100%;
    text-align: center;
    letter-spacing: .5em;
    display: inline-block;
    margin: 0;
  }

  &>&__content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;

    @media (max-width: 460px) {
      // width: 50%;
      flex-wrap: wrap;
      padding: 0 1em;
    }

    &>* {
      margin-top: 1.5em;
    }

    .soft-skill-card {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      width: 100%;

      &__icon {
        width: 5em;
      }

      &__text {
        margin-left: .5em;

        @media (max-width: 460px) {
          text-align: center;
        }
      }

      @media (min-width: 460px) {
        width: 25%;
        &:hover {
          .soft-skill-card__text {
            font-size: 2em;
          }
        }
      }

    }

  }

  &__skill {
    &--circle {
      width: 15%;
    }
  }
}
