.hard-skills-list {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 100%;
  flex-wrap: wrap;
  border: 1px solid #f50055;

  @media (min-width: 460px) {
    width: 50%;
    margin: 0;
  }

  width: 100%;
  padding: 0;
  margin: 0 .5em;
  &>&__skill {
    display: inline-block;
    position: relative;
    animation: skill-moves 8s infinite;
  }
}

@keyframes skill-moves {
  0% {
    bottom: -50%;
  }

  25% {
    bottom: 25%;
  }

  75% {
    bottom: 25%;
  }

  100% {
    bottom: 100%;
  }
}
